@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');


html {
  height: 100%;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.navigation {
  text-align: center;
}

.navigation li  {
  display: inline-block;
  margin: 0 15px;
  color: #20c4bb;
}

.left-col {
  background-color: #003170;
}

.right-col {
  background-color: #75e3dd;
}

img {
  max-width: 100%;
}

footer {
  background-color: #f4979c;
}

.social-icon {
  height: 60px;
  margin: 10px 20px;
 
}

.social-icons-container {
  text-align: center;
}